In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
try:
    import sklearn
    print(sklearn.__version__)
    if (sklearn.__version__ < '1.3.0'): #update for latest scikit-learn version
        !pip install -U --user scikit-learn
except Exception as e:
    !pip install scikit-learn

1.3.2

In [3]:
childcare = pd.read_csv("childcare_costs.csv")
childcare.head()

,county_fips_code,study_year,unr_16,funr_16,munr_16,unr_20to64,funr_20to64,munr_20to64,flfpr_20to64,flfpr_20to64_under6,...,memp_p,femp_p,mcsa,mfccsa,mc_infant,mc_toddler,mc_preschool,mfcc_infant,mfcc_toddler,mfcc_preschool
0,1001,2008,5.42,4.41,6.32,4.6,3.5,5.6,68.9,66.9,...,21.55,4.07,80.92,81.40,104.95,104.95,85.92,83.45,83.45,81.40
1,1001,2009,5.93,5.72,6.11,4.8,4.6,5.0,70.8,63.7,...,21.96,5.19,83.42,85.68,105.11,105.11,87.59,87.39,87.39,85.68
2,1001,2010,6.21,5.57,6.78,5.1,4.6,5.6,71.3,67.0,...,21.28,4.13,85.92,89.96,105.28,105.28,89.26,91.33,91.33,89.96
3,1001,2011,7.55,8.13,7.03,6.2,6.3,6.1,70.2,66.5,...,22.80,4.77,88.43,94.25,105.45,105.45,90.93,95.28,95.28,94.25
4,1001,2012,8.60,8.88,8.29,6.7,6.4,7.0,70.6,67.1,...,22.88,4.84,90.93,98.53,105.61,105.61,92.60,99.22,99.22,98.53

In [4]:
counties = pd.read_csv("counties.csv")
counties.head()

   county_fips_code     county_name state_name state_abbreviation
0              1001  Autauga County    Alabama                 AL
1              1003  Baldwin County    Alabama                 AL
2              1005  Barbour County    Alabama                 AL
3              1007     Bibb County    Alabama                 AL
4              1009   Blount County    Alabama                 AL

In [5]:
counties['county_name'] = counties['county_name'].str.lower()
counties.head()

   county_fips_code     county_name state_name state_abbreviation
0              1001  autauga county    Alabama                 AL
1              1003  baldwin county    Alabama                 AL
2              1005  barbour county    Alabama                 AL
3              1007     bibb county    Alabama                 AL
4              1009   blount county    Alabama                 AL

**Research Question 1**
1. What is the distribution of the relationship between child's stage and costs of childcare in North Carolina in the years 2014-2018?

In [6]:
#sns.displot(data = , x = "")
counties_nc = counties[counties['state_name'] == "North Carolina"]
county_nc_fips_code = counties_nc["county_fips_code"]
nc_childcare = childcare[childcare['county_fips_code'].isin(county_nc_fips_code)]
nc_childcare

,county_fips_code,study_year,unr_16,funr_16,munr_16,unr_20to64,funr_20to64,munr_20to64,flfpr_20to64,flfpr_20to64_under6,...,memp_p,femp_p,mcsa,mfccsa,mc_infant,mc_toddler,mc_preschool,mfcc_infant,mfcc_toddler,mfcc_preschool
20789,37001,2008,5.71,5.32,6.07,5.2,4.9,5.5,77.0,73.0,...,20.78,12.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20790,37001,2009,6.60,6.12,7.05,6.1,5.7,6.5,75.8,74.7,...,21.92,12.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20791,37001,2010,8.35,7.42,9.24,7.9,6.9,8.9,75.7,76.6,...,19.89,11.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20792,37001,2011,8.64,7.55,9.68,8.1,6.9,9.2,75.1,75.0,...,20.43,11.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20793,37001,2012,9.38,8.41,10.33,8.7,7.7,9.6,74.5,76.1,...,20.55,11.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21884,37199,2014,10.90,10.74,11.08,11.1,11.5,10.8,61.5,64.0,...,26.74,7.32,97.63,67.02,134.06,118.81,126.54,87.30,95.67,87.37
21885,37199,2015,11.01,10.86,11.13,11.6,12.1,11.2,61.7,64.2,...,25.11,7.07,94.99,80.26,140.64,130.18,123.11,103.97,96.75,92.78
21886,37199,2016,9.46,10.13,8.88,9.5,10.9,8.4,60.9,73.8,...,24.43,5.91,92.35,93.50,153.07,141.56,119.69,120.64,97.83,98.18
21887,37199,2017,8.34,9.68,7.18,8.8,10.7,7.1,62.9,89.6,...,23.28,7.69,89.71,106.75,165.50,152.93,116.27,137.32,98.91,103.59
21888,37199,2018,7.79,8.79,6.94,8.2,9.5,7.1,64.6,76.8,...,24.51,9.11,87.06,119.99,177.92,164.31,112.85,153.99,99.99,108.99

# Linear regression models

In [11]:
## only select 2018 for linear regression, prepare data for model by replacing NAs
nc_childcare_2018 = nc_childcare[nc_childcare["study_year"] == 2018]
nc_childcare_2018 = nc_childcare_2018.dropna(subset=["mcsa"])

### Predicting median childcare cost for schoolage children given median income, unemployment rate, and poverty rate:

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

### Predicting median childcare cost for schoolage children given number of households, county percentage hispanic, and median household income

# TO PASTE INTO FINAL DOC:

In [38]:
linear_model = LinearRegression()
# unemployment rate, poverty rate for families, median household income
household_data = nc_childcare_2018[["mhi_2018", "households", "total_pop", "pr_p"]].values
# mcsa --> "Weekly, full-time median price charged for Center-Based Care for those who are school age based on the results reported in the market rate survey report for the county or the rate zone/cluster to which the county is assigned."
target = nc_childcare_2018["mcsa"].values
linear_model.fit(X = household_data, y = target)

nc_childcare_2018["predicted_childcare_cost_byhispanic"] = linear_model.predict(household_data)

nc_childcare_2018["baseline"] = nc_childcare_2018["mcsa"].median()

mse = mean_squared_error(nc_childcare_2018["mcsa"].values, nc_childcare_2018["predicted_childcare_cost_byhispanic"].values)
r2 = r2_score(nc_childcare_2018["mcsa"].values, nc_childcare_2018["predicted_childcare_cost_byhispanic"].values)

print("*MSE and R2 without hispanic predictor*")
print("MSE model", mse, "R2 model", r2)

*MSE and R2 without hispanic predictor*
MSE model 176.75388621611413 R2 model 0.391956147628318

#### Conclusions from model:

Our first model appears to explain about 32.77% of the variability in our data, with a MSE of 195.42. **good or bad??**. We next removed the "hispanic" variable, which median household income, as a predictor in our model. This yielded a lower R^2 of about 0.1260, or 12.60%, and a higher MSE of 254.07. Thus, including median household income as a predictor of median household income improved our model.

In [17]:
print(nc_childcare["hispanic"].values.min())
print(nc_childcare["hispanic"].values.max())

0.3
21.9

In [18]:
print(nc_childcare["hispanic"].values.min())
print(nc_childcare["hispanic"].values.max())

0.3
21.9