In [1]:
# Run this code cell to import relevant libraries

import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
childcare_costs = pd.read_csv("childcare_costs.csv")
childcare_costs.head()

,county_fips_code,study_year,unr_16,funr_16,munr_16,unr_20to64,funr_20to64,munr_20to64,flfpr_20to64,flfpr_20to64_under6,...,memp_p,femp_p,mcsa,mfccsa,mc_infant,mc_toddler,mc_preschool,mfcc_infant,mfcc_toddler,mfcc_preschool
0,1001,2008,5.42,4.41,6.32,4.6,3.5,5.6,68.9,66.9,...,21.55,4.07,80.92,81.40,104.95,104.95,85.92,83.45,83.45,81.40
1,1001,2009,5.93,5.72,6.11,4.8,4.6,5.0,70.8,63.7,...,21.96,5.19,83.42,85.68,105.11,105.11,87.59,87.39,87.39,85.68
2,1001,2010,6.21,5.57,6.78,5.1,4.6,5.6,71.3,67.0,...,21.28,4.13,85.92,89.96,105.28,105.28,89.26,91.33,91.33,89.96
3,1001,2011,7.55,8.13,7.03,6.2,6.3,6.1,70.2,66.5,...,22.80,4.77,88.43,94.25,105.45,105.45,90.93,95.28,95.28,94.25
4,1001,2012,8.60,8.88,8.29,6.7,6.4,7.0,70.6,67.1,...,22.88,4.84,90.93,98.53,105.61,105.61,92.60,99.22,99.22,98.53

In [6]:
counties = pd.read_csv("counties.csv")
counties.head()

   county_fips_code     county_name state_name state_abbreviation
0              1001  Autauga County    Alabama                 AL
1              1003  Baldwin County    Alabama                 AL
2              1005  Barbour County    Alabama                 AL
3              1007     Bibb County    Alabama                 AL
4              1009   Blount County    Alabama                 AL

In [8]:
df = childcare_costs.merge(counties, how = 'left', on = "county_fips_code")
df.head()

,county_fips_code,study_year,unr_16,funr_16,munr_16,unr_20to64,funr_20to64,munr_20to64,flfpr_20to64,flfpr_20to64_under6,...,mfccsa,mc_infant,mc_toddler,mc_preschool,mfcc_infant,mfcc_toddler,mfcc_preschool,county_name,state_name,state_abbreviation
0,1001,2008,5.42,4.41,6.32,4.6,3.5,5.6,68.9,66.9,...,81.40,104.95,104.95,85.92,83.45,83.45,81.40,Autauga County,Alabama,AL
1,1001,2009,5.93,5.72,6.11,4.8,4.6,5.0,70.8,63.7,...,85.68,105.11,105.11,87.59,87.39,87.39,85.68,Autauga County,Alabama,AL
2,1001,2010,6.21,5.57,6.78,5.1,4.6,5.6,71.3,67.0,...,89.96,105.28,105.28,89.26,91.33,91.33,89.96,Autauga County,Alabama,AL
3,1001,2011,7.55,8.13,7.03,6.2,6.3,6.1,70.2,66.5,...,94.25,105.45,105.45,90.93,95.28,95.28,94.25,Autauga County,Alabama,AL
4,1001,2012,8.60,8.88,8.29,6.7,6.4,7.0,70.6,67.1,...,98.53,105.61,105.61,92.60,99.22,99.22,98.53,Autauga County,Alabama,AL

In [22]:
healthdata = pd.read_csv("healthdata.csv")
healthdata.head()

my_list = healthdata.columns
for start in range(0, len(my_list), 50):
    end = start + 50
    group = my_list[start:end]
    print(f"Group {start//50 + 1}: {group}")

Group 1: Index(['name', 'fips', 'state', 'land_area (km^2)', 'area (km^2)',
       'longitude (deg)', 'latitude (deg)', 'noaa/prcp', 'noaa/snow',
       'noaa/temp', 'noaa/altitude', 'noaa/temp-jan', 'noaa/temp-apr',
       'noaa/temp-jul', 'noaa/temp-oct', 'zip-codes',
       'race/non_hispanic_white_alone_male',
       'race/non_hispanic_white_alone_female', 'race/black_alone_male',
       'race/black_alone_female', 'race/asian_alone_male',
       'race/asian_alone_female', 'race/hispanic_male', 'race/hispanic_female',
       'age/0-4', 'age/5-9', 'age/10-14', 'age/15-19', 'age/20-24',
       'age/25-29', 'age/30-34', 'age/35-39', 'age/40-44', 'age/45-49',
       'age/50-54', 'age/55-59', 'age/60-64', 'age/65-69', 'age/70-74',
       'age/75-79', 'age/80-84', 'age/85+', 'male', 'female',
       'population/2010', 'population/2011', 'population/2012',
       'population/2013', 'population/2014', 'population/2015'],
      dtype='object')
Group 2: Index(['population/2016', 'population/2017', 'population/2018',
       'population/2019', 'deaths/suicides', 'deaths/firearm suicides',
       'deaths/homicides', 'deaths/vehicle', 'bls/2004/labor_force',
       'bls/2004/employed', 'bls/2004/unemployed', 'bls/2008/labor_force',
       'bls/2008/employed', 'bls/2008/unemployed', 'bls/2012/labor_force',
       'bls/2012/employed', 'bls/2012/unemployed', 'bls/2016/labor_force',
       'bls/2016/employed', 'bls/2016/unemployed', 'bls/2020/labor_force',
       'bls/2020/employed', 'bls/2020/unemployed', 'life-expectancy',
       'fatal_police_shootings/total-2017',
       'fatal_police_shootings/unarmed-2017',
       'fatal_police_shootings/firearmed-2017',
       'fatal_police_shootings/total-2018',
       'fatal_police_shootings/unarmed-2018',
       'fatal_police_shootings/firearmed-2018',
       'fatal_police_shootings/total-2019',
       'fatal_police_shootings/unarmed-2019',
       'fatal_police_shootings/firearmed-2019',
       'fatal_police_shootings/total-2020',
       'fatal_police_shootings/unarmed-2020',
       'fatal_police_shootings/firearmed-2020', 'police_deaths', 'avg_income',
       'covid-deaths/2020-02-01', 'covid-deaths/2020-03-01',
       'covid-deaths/2020-04-01', 'covid-deaths/2020-05-01',
       'covid-deaths/2020-06-01', 'covid-deaths/2020-07-01',
       'covid-deaths/2020-08-01', 'covid-deaths/2020-09-01',
       'covid-deaths/2020-10-01', 'covid-deaths/2020-11-01',
       'covid-deaths/2020-12-01', 'covid-deaths/2021-01-01'],
      dtype='object')
Group 3: Index(['covid-deaths/2021-02-01', 'covid-deaths/2021-03-01',
       'covid-deaths/2021-04-01', 'covid-deaths/2021-05-01',
       'covid-deaths/2021-06-01', 'covid-deaths/2021-07-01',
       'covid-deaths/2021-08-01', 'covid-deaths/2021-09-01',
       'covid-deaths/2021-10-01', 'covid-deaths/2021-11-01',
       'covid-deaths/2021-12-01', 'covid-deaths/2022-01-01',
       'covid-deaths/2022-02-01', 'covid-deaths/2022-03-01',
       'covid-confirmed/2020-02-01', 'covid-confirmed/2020-03-01',
       'covid-confirmed/2020-04-01', 'covid-confirmed/2020-05-01',
       'covid-confirmed/2020-06-01', 'covid-confirmed/2020-07-01',
       'covid-confirmed/2020-08-01', 'covid-confirmed/2020-09-01',
       'covid-confirmed/2020-10-01', 'covid-confirmed/2020-11-01',
       'covid-confirmed/2020-12-01', 'covid-confirmed/2021-01-01',
       'covid-confirmed/2021-02-01', 'covid-confirmed/2021-03-01',
       'covid-confirmed/2021-04-01', 'covid-confirmed/2021-05-01',
       'covid-confirmed/2021-06-01', 'covid-confirmed/2021-07-01',
       'covid-confirmed/2021-08-01', 'covid-confirmed/2021-09-01',
       'covid-confirmed/2021-10-01', 'covid-confirmed/2021-11-01',
       'covid-confirmed/2021-12-01', 'covid-confirmed/2022-01-01',
       'covid-confirmed/2022-02-01', 'covid-confirmed/2022-03-01',
       'covid-vaccination/2021-01-01', 'covid-vaccination/2021-02-01',
       'covid-vaccination/2021-03-01', 'covid-vaccination/2021-04-01',
       'covid-vaccination/2021-05-01', 'covid-vaccination/2021-06-01',
       'covid-vaccination/2021-07-01', 'covid-vaccination/2021-08-01',
       'covid-vaccination/2021-09-01', 'covid-vaccination/2021-10-01'],
      dtype='object')
Group 4: Index(['covid-vaccination/2021-11-01', 'covid-vaccination/2021-12-01',
       'elections/2008/total', 'elections/2008/dem', 'elections/2008/gop',
       'elections/2012/total', 'elections/2012/dem', 'elections/2012/gop',
       'elections/2016/total', 'elections/2016/dem', 'elections/2016/gop',
       'elections/2020/total', 'elections/2020/dem', 'elections/2020/gop',
       'edu/less-than-high-school', 'edu/high-school', 'edu/some-college',
       'edu/bachelors+', 'poverty-rate', 'cost-of-living/living_wage',
       'cost-of-living/food_costs', 'cost-of-living/medical_costs',
       'cost-of-living/housing_costs', 'cost-of-living/tax_costs',
       'industry/Construction/payroll', 'industry/Construction/employees',
       'industry/Manufacturing/payroll', 'industry/Manufacturing/employees',
       'industry/Wholesale trade/payroll',
       'industry/Wholesale trade/employees', 'industry/Retail trade/payroll',
       'industry/Retail trade/employees',
       'industry/Transportation and warehousing/payroll',
       'industry/Transportation and warehousing/employees',
       'industry/Information/payroll', 'industry/Information/employees',
       'industry/Finance and insurance/payroll',
       'industry/Finance and insurance/employees',
       'industry/Real estate and rental and leasing/payroll',
       'industry/Real estate and rental and leasing/employees',
       'industry/Professional, scientific, and technical services/payroll',
       'industry/Professional, scientific, and technical services/employees',
       'industry/Administrative and support and waste management and remediation services/payroll',
       'industry/Administrative and support and waste management and remediation services/employees',
       'industry/Educational services/payroll',
       'industry/Educational services/employees',
       'industry/Health care and social assistance/payroll',
       'industry/Health care and social assistance/employees',
       'industry/Arts, entertainment, and recreation/payroll',
       'industry/Arts, entertainment, and recreation/employees'],
      dtype='object')
Group 5: Index(['industry/Accommodation and food services/payroll',
       'industry/Accommodation and food services/employees',
       'industry/Other services (except public administration)/payroll',
       'industry/Other services (except public administration)/employees',
       'health/% Fair or Poor Health',
       'health/Average Number of Physically Unhealthy Days',
       'health/Average Number of Mentally Unhealthy Days',
       'health/% Low birthweight', 'health/% Smokers',
       'health/% Adults with Obesity', 'health/Food Environment Index',
       'health/% Physically Inactive', 'health/% Excessive Drinking',
       'health/# Alcohol-Impaired Driving Deaths', 'health/Teen Birth Rate',
       'health/% Uninsured', 'health/% With Annual Mammogram',
       'health/% Vaccinated', 'health/% Children in Poverty',
       'health/80th Percentile Income', 'health/20th Percentile Income',
       'health/% Children in Single-Parent Households',
       'health/Violent Crime Rate', 'health/Average Daily PM2.5',
       'health/% Severe Housing Problems', 'health/% Drive Alone to Work',
       'health/% Long Commute - Drives Alone',
       'industry/Agriculture, forestry, fishing and hunting/payroll',
       'industry/Agriculture, forestry, fishing and hunting/employees',
       'industry/Utilities/payroll', 'industry/Utilities/employees',
       'industry/Management of companies and enterprises/payroll',
       'industry/Management of companies and enterprises/employees',
       'industry/Industries not classified/payroll',
       'industry/Industries not classified/employees',
       'industry/Mining, quarrying, and oil and gas extraction/payroll',
       'industry/Mining, quarrying, and oil and gas extraction/employees'],
      dtype='object')

In [14]:
pres = pd.read_csv("countypres_2000-2020.csv")
pres.head()

pres["county_fips"] = pres["county_fips"].fillna('').astype(str).str.replace(".0","",regex=False)
pres.head()

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL
2,2000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL
3,2000,ALABAMA,AL,AUTAUGA,1001,US PRESIDENT,OTHER,OTHER,113,17208,20220315,TOTAL
4,2000,ALABAMA,AL,BALDWIN,1003,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480,20220315,TOTAL